@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Figtree', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(47, 88%, 63%);
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width:24em;
    height:33em;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 6px 5px 1px 1px rgba(0,0,0,0.75);
    padding: 1.52em;
}
.image{
   width: 100%;
   height: 13em;
   background-image: url(./assets/images/illustration-article.svg);
    border-radius: 10px;
    background-size: cover;
}
.logo{
    margin-top: 25px;
    background-color:hsl(47, 88%, 63%);
    width: fit-content;
    padding:5px 7px;
    font-size: 14px;
    border-radius: 5px;
}
.publish{
    margin-top: 14px;
}
.publish h5{
    font-weight: 500;
}

.publish h3{
    font-weight: 900;
    margin-top: 12px;
    font-size: 1.52rem;
}

.publish p{
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.5;
    color: hsl(0, 0%, 50%);
}
.profile{
    width: 100%;
    height: 53px;
    margin-top: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
}
.profile img{
    width: 2.3rem;
}
.profile h3{
    font-size: 15px;
    font-weight: 900;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}